.navbar {
  background: #2C2C2C;
}
.news:nth-child(odd) {
  background: #f0f0f0;
}
.news:nth-child(even) {
  background: #fff;
}
.news,
.addnews {
  padding: 5px 10px 5px 10px;
}
.addnews .date {
  padding: 5px 0px;
}
form {
  margin: 0;
}
input {
  height: 28px;
}
.input-xlarge {
  height: 40px;
  font-size: 16px;
}
.news.green {
  background: #D8FEC4;
}
